.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 70px 100px 1fr;
}

.sidebar {
    background-color: lightblue;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 100px 300px 150px;
}

.icon {
    color: white;
}

.icon img {
    width: 2rem;
}

.pages, .help {
    display: grid;
    grid-auto-rows: 40px;
}

.navigation {
    background-color: lightcoral;
    display: grid;
    grid-template-columns: 1fr 100px 100px 100px;
}

.actions {
    background-color: lightcyan;
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
}

.actions ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content {
    background-color: lightgoldenrodyellow;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-row: 1 / 3;
}

.projects .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));

}